* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 10%;
  width: 270px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;

  #profile {
    &_photo {
      display: flex;
      justify-content: center;
      img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 10px solid #2c2f3f;
      }

      margin: 15px 0;
    }

    &_title {
      width: 100%;
      text-align: center;

      &--link {
        text-decoration: none;
        color: #fff;
      }
    }
  }

  .navbar {
    &_list {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 12px 15px;
        margin-bottom: 8px;
      }

      &--link {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

#banner {
  height: 900px;
  margin-left: 300px;
  background: url(../arquivos/img/banner_principal.jpg) no-repeat center;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  // background: red;

  &_content {
    opacity: 1;

    margin-left: -150px;
    padding-top: 120px;

    &--title {
      margin: 0 0 10px 0;
      font-size: 45px;
      font-weight: 700;
      line-height: 56px;
      color: #2c2f3f;
    }

    &--paragraph {
      color: #2c2f3f;
      margin-bottom: 50px;
      font-size: 26px;
    }
  }
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
  }
}

#main {
  margin-left: 300px;

  .sections {
    padding: 60px 20px;
  }

  #about {
    &_content {
      display: flex;
      padding-top: 30px;

      &--photo {
        padding-right: 30px;
        img {
          width: 335px;
          height: 335px;
        }
      }

      &--text {
        .about_subtitle {
          font-weight: 700;
          font-size: 26px;
          color: #173b6c;
          margin-bottom: 8px;
        }
      }

      &--list {
        display: flex;
        justify-content: space-between;

        margin: 30px 20% 30px 0;
      }

      .list {
        &_item {
          list-style: none;
          margin-bottom: 20px;

          span {
            color: #149ddd;
            margin-right: 5px;
          }
        }
      }
    }
  }

  #skills {
    background: #f5f8fd;

    &_level {
      display: flex;
      gap: 2.5vw;

      &--top {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 5px;
      }
    }

    &_col {
      &--width {
        width: 48%;
      }
    }

    .progressbar {
      height: 10px;
      background: #dce8f8;

      &_level {
        width: 0%;
        height: 10px;
        background: #149ddd;
        z-index: 20;
      }

      #HTML {
        width: 80%;
      }

      #CSS {
        width: 80%;
      }

      #SASS {
        width: 70%;
      }

      #JS {
        width: 40%;
      }

      #VTEX-IO {
        width: 60%;
      }

      #PYTHON {
        width: 50%;
      }
    }
  }

  #resume {
    &_row {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;

      &--col1 {
        width: 48%;

        #col1 {
          display: flex;
          flex-direction: column;

          &_row1 {
            margin-bottom: 40px;
          }
        }
      }

      .resume {
        &_subtitle {
          &::before {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50px;
            left: -11px;
            background: #fff;
            border: 2px solid #1f5297;
          }
        }

        &_time {
          padding: 5px 10px;
          background: #e4edf9;
          width: fit-content;
          margin: 10px 0;
        }
      }
      .resume_border {
        position: relative;
        border-left: 2px solid #1f5297;
        margin-top: -2px;
        padding: 0 0 20px 20px;
      }

      &--col2 {
        width: 48%;
      }
    }
  }
}

#footer {
  position: fixed;
  top: 90%;
  left: 0;
  bottom: 0;
  width: 270px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;

  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
  padding-bottom: 15px;

  &_copyright {
    font-size: 15px;
    font-weight: normal;
  }

  &_depeloped {
    font-size: 15px;
    font-weight: normal;
  }
}
