* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 10%;
  width: 270px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}

#header #profile_photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 0;
}

#header #profile_photo img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 10px solid #2c2f3f;
}

#header #profile_title {
  width: 100%;
  text-align: center;
}

#header #profile_title--link {
  text-decoration: none;
  color: #fff;
}

#header .navbar_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#header .navbar_list li {
  padding: 12px 15px;
  margin-bottom: 8px;
}

#header .navbar_list--link {
  text-decoration: none;
  color: #fff;
}

#banner {
  height: 900px;
  margin-left: 300px;
  background: url(../arquivos/img/banner_principal.jpg) no-repeat center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#banner_content {
  opacity: 1;
  margin-left: -150px;
  padding-top: 120px;
}

#banner_content--title {
  margin: 0 0 10px 0;
  font-size: 45px;
  font-weight: 700;
  line-height: 56px;
  color: #2c2f3f;
}

#banner_content--paragraph {
  color: #2c2f3f;
  margin-bottom: 50px;
  font-size: 26px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}

.title::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

#main {
  margin-left: 300px;
}

#main .sections {
  padding: 60px 12px;
}

#main #about_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
}

#main #about_content--photo {
  padding-right: 30px;
}

#main #about_content--photo img {
  width: 335px;
  height: 335px;
}

#main #about_content--text .about_subtitle {
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
  margin-bottom: 8px;
}

#main #about_content--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0;
}

#main #about_content .list_item {
  list-style: none;
  margin-bottom: 20px;
}

#main #about_content .list_item span {
  color: #149ddd;
  margin-right: 5px;
}

#main #skills {
  background: #f5f8fd;
}

#main #skills_level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5vw;
}

#main #skills_level--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 5px;
}

#main #skills_col--width {
  width: 48%;
}

#main #skills .progressbar {
  height: 10px;
  background: #dce8f8;
}

#main #skills .progressbar_level {
  width: 0%;
  height: 10px;
  background: #149ddd;
  z-index: 20;
}

#main #skills .progressbar #HTML {
  width: 80%;
}

#main #skills .progressbar #CSS {
  width: 80%;
}

#main #skills .progressbar #SASS {
  width: 70%;
}

#main #skills .progressbar #JS {
  width: 40%;
}

#main #skills .progressbar #VTEX-IO {
  width: 60%;
}

#main #skills .progressbar #PYTHON {
  width: 50%;
}

#main #resume_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main #resume_row--col1 {
  width: 50%;
}

#main #resume_row--col2 {
  width: 50%;
}

#footer {
  position: fixed;
  top: 90%;
  left: 0;
  bottom: 0;
  width: 270px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 15px;
}

#footer_copyright {
  font-size: 15px;
  font-weight: normal;
}

#footer_depeloped {
  font-size: 15px;
  font-weight: normal;
}
/*# sourceMappingURL=style.css.map */